
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, greenyellow, blue);

}
form{
   height: 30rem;   
   width: 25rem;  
   display: flex;
   flex-direction: column;
   background: rgba(255,255,255,0.06);
   box-shadow: 0px 8px 30px rgba(31,38,135,0.37);
   border-left: 1px rgba(255,255,255,0.3);
   border-radius: 20px;
}
h1{
    text-align: center;
    margin: 10px auto;
    color: white;
    opacity: 0.;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
label{
    text-align: center;
    margin:20px auto;
    margin-left: 45px;
    color: white;
    opacity: 0.6;
}
input{
    width: 80%;
    margin: 10px auto;
    border: none;
    outline:none;
    background: transparent;
    color: white;
    border-bottom: 2px solid rgba(255,255,255,0.6);
    border-left:2px solid rgba(255,255,255,0.6) ;

}
a{
    color: white;
    text-align: center;
    margin: 20px auto;
    text-decoration: underline;
    text-underline-offset: 5px;
}
a:hover{
    color: black;
    cursor: pointer;
}
button{
    padding: 10px 30px;
    border-radius: 15px;
    color: white;
    justify-content: center;
    background: transparent;
    border: none;
    outline:none;
    margin: 20px auto;
    cursor: pointer;
    box-shadow: 3px 3px 2px rgba(31,38,135,0.6);
}