/* .navbar{
  
    height:10%
} */

.navbar-brand{
    font-size: 26px;
    color: bisque;
    font-weight: bold;
}
.c1{
   color: black;
   text-decoration: none; 
   font-size: 18px;
   font-weight: bold;

}
