<div class="c1">
    <div class="c2">
        <h1>Admin</h1>
        <form [formGroup]="myForm" >    
            <!-- <div class="form-group">
                <label for="name">Name</label>
                <input
                    formControlName="name"
                    id="name"
                    type="text"
                    class="form-control">
                <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
                    <div *ngIf="f['name'].errors && f['name'].errors['required']">Name is required.</div>       
                    <div *ngIf="f['name'].errors && f['name'].errors['minlength']">Name should be 3 character.</div>
                </div>
            </div>              -->
            <div class="form-group">
                <label for="file">File</label>
                <input
                    formControlName="file"
                    id="file"
                    type="file"
                    class="form-control"
                    (change)="onFileChange($event)">
                    <span *ngIf="f['file'].touched &&f['file'].errors && f['file'].errors['required']">File is required.</span>              
            </div>  
            <button class="btn btn-primary" [disabled]="myForm.invalid" type="submit">Submit</button>
        </form>
    </div>
    <div class=""></div>
</div>//